*{
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* overflow: hidden; */
  background-color: #DCC486; 
  margin: 25px;
}
#top-part{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #DCC486;
  position: absolute;
  margin: 0 25 ;
  top: 5px;
  height: 26%;
  
}
#bottom-part{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width:100%;
  background-color: #DCC486;
  position:absolute;
  bottom: 0;
  height: 32%;
  
}
#button-group {
  
  width: 394px; /* Removed space before 'px' */
  height: 33px;
}
#button-group,#profile3,#profile4{
  display: flex;
  justify-content: space-around;
  margin : 0 5 px;
}

#walk, #buy, #skip {
  border-radius: 20px; /* Added 'px' unit */
  font-family: Jim Nightshade;
  font-size: 25px; /* Removed space before 'px' */
  width: 82px;
  height: 33px;
  margin: 0 5px; /* Added margin to create space between buttons */
  background-color: #C8A447;
}

#headText {
  font-family: Jim Nightshade;
  font-size:  80px;

}
#profile1,#profile2,#profile3,#profile4{
  display:flex;
  flex-direction: column;
  font-family: Jim Nightshade;
  font-size: 20px;
}

.icon img{
  border:1px solid black;
  border-radius: 2rem;
  width : 60px;
  height: 60 px;

}




#gameContainer {
  width: 960px;
  height: 720px;
  
  

  
}

