body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
  margin: 0;
}
#gameContainer {
  width: 100%;
  height: 100%;
}