body {
  font-family: Arial, sans-serif;
  background-color: #f9f5e6; /* light yellow background */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: rgba(255, 204, 128, 0.8); /* light orange with opacity */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* dark shadow */
  text-align: center;
  color: #333; /* dark text color */
}
h1 {
  color: #ff6347; /* tomato red heading color */
  margin-bottom: 20px;
}
.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.player {
  background-color: #344265; /* yellow */
  color: #ffffff; /* dark gray */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}
.player.empty {
  background-color: #bdc3c7; /* light gray */
  color: #ecf0f1; /* white */
}
.start-button {
  padding: 10px 20px;
  background-color: #ffa500; /* orange */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.start-button:hover {
  background-color: #ff8c00; /* darker orange on hover */
}

.back-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #ffa500; /* orange */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.back-button:hover {
  background-color: #ff8c00; /* darker orange on hover */
}
